html{
    font-size: 15px;
}

/* Definició de variables */
:root{
    --font-family: "Rubik", Verdana, sans-serif;
    --contorns-arrodonits: 15px;
}

/* Definició d'estills per la capçalera */
/*--------------------------------------*/
.capcalera{
    position: relative;
    width: 100%;
}

.capcalera > img{
    width: 100%;
    height: auto;
    opacity: 0.7;
}

.info{
    position: absolute;
    top: 25%;
    left: 5%;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-family: var(--font-family);
}

/* Definició d'estills per la part sobre nosaltres */
/*-------------------------------------------------*/
.sobreNosaltres{
    width: 80%; /* Ha d'ocuoar només 80% de la llargura de la pàgina */
    margin: auto; /* Per posicionar al mig de la página horizontalmet */
    margin-top: 30px;
}

.sobreNosaltres > h1{/* Títol */
    font-family: var(--font-family);
    margin-left: 60px;
}

.contenidorSobreNosaltres{
    display: flex; /* Flex per posar més d'un fill a la línia*/
    flex-wrap: wrap; /* Wrap per permitir el salt de línia*/
    box-sizing: border-box;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

/* Per que cada imatge ocupi 30% de la llargura del pare */
.sn_img{
    flex: 30%;
}

/* Per que cada text ocupi 70% de la llargura del pare */
.sn_txt{
    flex: 60%;
}

.item img{
    width: 100%;
    height: auto;
    border-radius: var(--contorns-arrodonits); /* Per fer els contorns arrodonits */
}

.item p{
    font-family: var(--font-family);
}


/* Definició d'estills per carta */
/*-------------------------------*/
.carta{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.carta > h1{
    font-family: var(--font-family);
    margin-left: 60px;
}

.carta_container{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: 
    'item1 item1 item1'
    'item2 item3 item3'
    'item2 item4 item5'
    'item6 item7 item7'
    'item6 item8 item9';
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
}

/* Definició dels elements per fer el grid */
.capcalera_carta{
    grid-area: item1;
    border: 1px solid black;
    text-align: center;
    font-family: var(--font-family);
}

.menu1{
    grid-area: item2;
    border: 1px solid black;
}

.contingut1{
    grid-area: item3;
}

.img1{
    grid-area: item4;
}

.img2{
    grid-area: item5;
}

.menu2{
    grid-area: item6;
    border: 1px solid black;
}

.contingut2{
    grid-area: item7;
}

.img3{
    grid-area: item8;
}

.img4{
    grid-area: item9;
}

/* Estills per la div img_carta per fer el efecte amb padding i border-radius */
.img_carta{
    position: relative;
    padding: 5px;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 5px; /* Per fer els contorns arrodonits */
}

/* Estilos para as imagens dentro do grid para que não sobresaian */
.img1 img, .img2 img, .img3 img, .img4 img{
    width: 100%;
    height: 100%;
    display: block;
}

/* Estills per el text dins de la imatge */
.nom_plat{
    width: 100%; 
    height: 20%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-family: var(--font-family);
    opacity: 0; /* Element ocult per el opacity = 0 */
}

.img_wrapper:hover .nom_plat { /* Només és visible amb el hover */
    opacity: 0.7;
}

/* Efecte per que el text dins de la imatge no surta per fora de la imatge */
.img_wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

/* Estills per el menu1 i menu2 */
.menu{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Definició d'estills per la galeria de imatges */
/*-----------------------------------------------*/
.galeria_imatges{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.galeria_imatges > h1{
    font-family: var(--font-family);
    margin-left: 60px;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.galeria_img{
    flex: 20%;
    padding: 5px;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 7px;
    overflow: hidden; /* Per amagar el que sobrepassi quan la imatge es fa més gran */
}

/* Elements 1, 4, 5 i 8 més foscs */
.galeria_img:nth-child(1){
    filter: brightness(0.4);
}

.galeria_img:nth-child(4){
    filter: brightness(0.4);
}

.galeria_img:nth-child(5){
    filter: brightness(0.4);
}

.galeria_img:nth-child(8){
    filter: brightness(0.4);
}


/* Quan el mouse esté a l'imatge, es veu més fosc i el contorn es queda blau */
.galeria_img:hover{
    border: 1px solid rgb(0, 251, 255);
    /*filter: brightness(0.6);*/
}

.galeria_img img{
    width: 100%;
    height: 200px;
    transition: 3s; /* Transiction per tornar a la posició original quan el mouse fiqui fora de la imatge */
}

/* Estills per fer els efectes quan el mouse es fiqui dins de la imatge */
.galeria_img img:hover{
    transform: scale(2) rotate(45deg);
    filter: grayscale(1);
    transition: 3s;
}


/* Definició d'estills per el formulari */
/*--------------------------------------*/
.formulari{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.formulari > h1{
    font-family: var(--font-family);
    margin-left: 60px;
}

.formulari > .btn {
    position: fixed;
    bottom: 60px;
    right: 10%;
    width: auto;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(0, 0, 72);
    color: white;
    font-weight: bold; 
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'itemform1 itemform2'
    'itemform3 itemform4'
    'itemform5 itemform5';
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
}

.item_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.item_form > input{
    height: 25px;
}

/* Definició dels elements per fer el grid */
.itf1{
    grid-area: itemform1;
}

.itf2{
    grid-area: itemform2;
}

.itf3{
    grid-area: itemform3;
}

.itf4{
    grid-area: itemform4;
}

.itf5{
    grid-area: itemform5;
}

.btn-form{
    grid-area: itemForm6;
}


@media (max-width: 768px){
    /* Capçalera */
    /*-----------*/
    .info{
        position: absolute;
        top: 25%;
        left: 25%;
        color: black;
        font-size: 0.8rem;
        font-family: var(--font-family);
    }

    /* Sobre nosaltres */
    /*-----------------*/
    .item:nth-child(1){
        flex: 100%;
    }

    .item:nth-child(2){
        flex: 100%;
    }

    .item:nth-child(3){
        flex: 50%;    
        order: 3;  
    }

    .item:nth-child(4){
        flex: 45%;
    }

    /* Carta */
    /*-------*/
    .carta_container{
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-areas: 
        'item1 item1 item1'
        'item2 item3 item3'
        'item2 item4 item4'
        'item2 item5 item5'
        'item6 item7 item7'
        'item6 item8 item8'
        'item6 item9 item9';
        width: 100%;
        gap: 10px;
        box-sizing: border-box;
    }

    /* Galeria d'imatges */
    /*-------------------*/
    .galeria_img{
        flex: 47%;
        padding: 5px;
        border: 1px solid rgb(186, 186, 186);
        border-radius: 7px;
    }

    /* Formulari */
    /*-----------*/
    .form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'itemform1 itemform2'
        'itemform3 itemform4'
        'itemform5 itemform5';
        width: 100%;
        gap: 10px;
        box-sizing: border-box;
    }

    .btn-form{
        width: 100%;
        height: 35px;
    }

    @media (max-width: 576px){
        /* Capçalera */
        /*-----------*/
        .info{
            position: absolute;
            top: 17%;
            left: 15%;
            color: black;
            font-size: 0.8rem;
            font-family: var(--font-family);
        }

        /* Sobre nosaltres */
        /*-----------------*/
        .item:nth-child(1){
            flex: 100%;
        }

        .item:nth-child(2){
            flex: 100%;
        }

        .item:nth-child(3){
            flex: 100%;    
        }

        .item:nth-child(4){
            flex: 100%;
        }

        /* Carta */
        /*-------*/

        .capcalera_carta{
            display: none;
        }

        .carta_container{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: 
            'item2'
            'item3'
            'item4'
            'item5'
            'item6'
            'item7'
            'item8'
            'item9';
            width: 100%;
            gap: 10px;
            box-sizing: border-box;
        }        


        /* Galeria d'imatges */
        /*-------------------*/
        .galeria_img img{
            width: 100%;
            height: auto;
        }
    }
}