/* Definició de variables */
:root{
    --font-family: "Rubik", Verdana, sans-serif;
    --contorns-arrodonits: 15px;
}

/* Definició d'estills per la capçalera */
/*--------------------------------------*/
.capcalera{
    width: 100%;
}

.capcalera > img{
    width: 100%;
    opacity: 0.7;
}

.info{
    position: absolute;
    top: 25%;
    left: 5%;
    color: black;
    font-size: 1.5rem;
    font-family: var(--font-family);
}

/* Definició d'estills per la part sobre nosaltres */
/*-------------------------------------------------*/
.sobreNosaltres{
    width: 80%; /* Ha d'ocuoar només 80% de la llargura de la pàgina */
    margin: auto; /* Per posicionar al mig de la página horizontalmet */
    margin-top: 30px;
    border: 1px solid black;
}

.sobreNosaltres > h1{/* Títol */
    font-family: var(--font-family);
    margin-left: 60px;
}

.contenidorSobreNosaltres{
    display: flex; /* Flex per posar més d'un fill a la línia*/
    flex-wrap: wrap; /* Wrap per permitir el salt de línia*/
    box-sizing: border-box;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

/* Per que cada imatge ocupi 30% de la llargura del pare */
.sn_img{
    flex: 30%;
}

/* Per que cada text ocupi 70% de la llargura del pare */
.sn_txt{
    flex: 60%;
}

.item img{
    width: 100%;
    height: auto;
    border-radius: var(--contorns-arrodonits); /* Per fer els contorns arrodonits */
}

.item p{
    border: 1px solid black;
    font-family: var(--font-family);
}


/* Definició d'estills per carta */
/*-------------------------------*/
.carta{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    border: 1px solid black;
}

.carta > h1{
    font-family: var(--font-family);
    margin-left: 60px;
}

.carta_container{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: 
    'item1 item1 item1'
    'item2 item3 item3'
    'item2 item4 item5'
    'item6 item7 item7'
    'item6 item8 item9';
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
}

/* Definició dels elements per fer el flex */
.capcalera_carta{
    grid-area: item1;
    border: 1px solid black;
    text-align: center;
    font-family: var(--font-family);
}

.menu1{
    grid-area: item2;
    border: 1px solid black;
}

.contingut1{
    grid-area: item3;
}

.img1{
    grid-area: item4;
}

.img2{
    grid-area: item5;
}

.menu2{
    grid-area: item6;
    border: 1px solid black;
}

.contingut2{
    grid-area: item7;
}

.img3{
    grid-area: item8;
}

.img4{
    grid-area: item9;
}

/* Estills per la div img_carta per fer el efecte amb padding i border-radius */
.img_carta{
    position: relative;
    padding: 5px;
    border: 0.5px solid rgb(186, 186, 186);
    border-radius: 5px; /* Per fer els contorns arrodonits */
}

/* Estilos para as imagens dentro do grid para que não sobresaian */
.img1 img, .img2 img, .img3 img, .img4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Estills per el text dins de la imatge */
.nom_plat{
    width: 100%; 
    height: 20%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-family: var(--font-family);
    opacity: 0.7;
}

/* Efecte per que el text dins de la imatge no surta per fora de la imatge */
.img_wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

/* Estills per el menu1 i menu2 */
.menu{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}